In [108]:
Pi = 3.14159
pi = 3.14159
pi3 = 3.14159*3
pi_2=3.14159**2
Pipi=3.14159**2
myradius=5
My_Radius=5
MyRadius=5

In [53]:
x = 2
y = z = 2
print(x * y)
print(x + x)
print(y * z)
print((y+z)**z)
print(y/(y+z))

print( type(x * y) )
print( type(y * z) )
print( type((y+z)**z) ) 
print( type(y/(y+z)) )

4
4
4
16
0.5
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>

In [141]:
x = 12
y = 10

z = print(x+y)
x=print(x+y)
print(z)

22
22
None

In [100]:
x = 1 + 2 * 3 / 4
y = (1 + 2) * (3 / 4)
z = 1 + 2 * (3 / 4)

print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))

2.5
2.25
2.5
<class 'float'>
<class 'float'>
<class 'float'>

In [143]:
x = 10
y = 3

print( x - pow(y,2) ) # 1
print( x + y ) # 13
print( x == y ) # False
print( x ** y ) # 1000
print( x - y ) # 7
print( x // y ) # 3

1
13
False
1000
7
3

In [175]:
import math
r=6
V=(4/3)*math.pi*pow(r,3)
print(V)

904.7786842338603

In [176]:
V=14137
r=pow((3/4)*(V/pi),(1/3))
print(r)

14.99994517971739

In [187]:
hours=0
if hours > 0:
    print("hours=10")
elif hours >0 and hourse<0:
    print("hours=2")
else:
    print("hours=0")

hours=0

In [266]:
a = 1
b = 1

x=a
if x==b:
    print("inside 1")
    print("inside 2")
    print("inside")
else:
    print("after condition")

inside 1
inside 2
inside

In [265]:
a = 2
b = 2

x=a
if x==b:
    print("inside 1")
    print("inside 2")
    print("inside")
else:
    print("after condition")

inside 1
inside 2
inside

In [264]:
a = 1
b = 2

x=a
if x==b:
    print("inside 1")
    print("inside 2")
    print("inside")
else:
    print("after condition")

after condition

In [337]:
x=1

if x > 0 and x < 5:
    print("Joe")

if x > 0 or x < 5:
    print("Aled")

if not(x > 0):
    print("Sarah")

Joe
Aled

In [287]:
for x in range(0,9):
    print(x)
    if x%2==0:
        print("x is even")
    else:
        print("x is odd")

0
x is even
1
x is odd
2
x is even
3
x is odd
4
x is even
5
x is odd
6
x is even
7
x is odd
8
x is even

In [290]:
x = 2
y = 3

if x != y:                                 #line 1
    print("x is not equal to y")
    
    if(x > y):                             #line 4
        print("x is greater than y")
    
    else:                                  #line 7
        print("x is less than y")

else:
    print("<x is equal to y>")

x is not equal to y
x is less than y

In [305]:
cities = ['New York', 'London', 'Beijing', 'Tokyo', 'Delhi']


# Print out London from cities:
print(cities[1])

# Print out Tokyo using *negative* indexing:
print(cities[-2] )

# Print out Beijing and Tokyo using a list slice
print( cities[2:4] )

# Print out London to Delhi using a slice
print( cities[1:] ) # You could also do cities[1:4] but this way is neater

# Combine positive and negative indexing to print out London, Beijing and Tokyo using a list slice
print(cities[1:-1])

# Print out the position of New York in the list by searching for it (i.e. you can't just type 0)
print( cities.index("New York") )

London
Tokyo
['Beijing', 'Tokyo']
['London', 'Beijing', 'Tokyo', 'Delhi']
['London', 'Beijing', 'Tokyo']
0

In [309]:
# Cause an 'IndexError: list index out of rangeIndexError: 
cities = ['New York', 'London', 'Beijing', 'Tokyo', 'Delhi']
print(cities[5])

IndexError: list index out of range

In [315]:
# Cause a ValueError using the city of Toronto
cities = ['New York', 'London', 'Beijing', 'Tokyo', 'Delhi']
print(cities.index("Toronto"))

ValueError: 'Toronto' is not in list

In [322]:
cities = ['New York', 'London', 'Beijing', 'Tokyo', 'Delhi']
cities.sort(reverse=True)
print(cities)

['Tokyo', 'New York', 'London', 'Delhi', 'Beijing']

In [325]:
# Just in case you make a mistake...
cities = ['Tokyo', 'New York', 'London', 'Delhi', 'Beijing']

cities.insert(2,'Toronto')
print(cities)

['Tokyo', 'New York', 'Toronto', 'London', 'Delhi', 'Beijing']

In [332]:
cities = ['Tokyo', 'New York', 'Toronto', 'London', 'Delhi', 'Beijing']
p=cities.pop(1)
print(p)
print(cities)

New York
['Tokyo', 'Toronto', 'London', 'Delhi', 'Beijing']

In [ ]:
cities=cities = ['Tokyo', 'New York', 'Toronto', 'London', 'Delhi', 'Beijing']
print("Moscow"in cities)